<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>PAVSHOP - Multipurpose eCommerce HTML5 Template</title>

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/ionicons.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="js/modernizr.js"></script>

<!-- Online Fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>

<!-- LOADER -->
<div id="loader">
  <div class="position-center-center">
    <div class="ldr"></div>
  </div>
</div>

<!-- Wrap -->
<div id="wrap">

  <!-- header -->
  <header>
    <div class="sticky">
      <div class="container">

        <!-- Logo -->
        <div class="logo"> <a href="index.html"><img class="img-responsive" src="./images/logo.png" alt="" ></a> </div>
        <nav class="navbar ownmenu">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"><i class="fa fa-navicon"></i></span> </button>
          </div>

          <!-- NAV -->
          <div class="collapse navbar-collapse" id="nav-open-btn">
            <ul class="nav">
              <li> <a href="/"> Home</a> </li>
              </li>
              <li class="dropdown"> <a href="/product" class="dropdown-toggle" data-toggle="dropdown">Flowers</a>
                <ul class="dropdown-menu">
                  <li> <a href="/product">a flower</a> </li>
                  <li> <a href="shop_01.html">bouquet </a> </li>
                  <li> <a href="shop_02.html">wreath</a> </li>
                  <li> <a href="shop_03.html">fake flowers</a> </li>
                </ul>
              </li>
              <!-- Two Link Option -->
              <li class="dropdown"> <a href="/notice" class="dropdown-toggle" data-toggle="dropdown">notice</a>
                <ul class="dropdown-menu">
                      <li> <a href="shop_01.html">notice</a></li>
                      <li> <a href="shop_01.html">event</a></li>
                </ul>
              </li>

              <li> <a href="contact.html"> contact</a> </li>
            </ul>
          </div>

          <!-- Nav Right -->
          <div class="nav-right">
            <ul class="navbar-right">

              <!-- USER INFO -->
              <li class="dropdown user-acc"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><i class="icon-user"></i> </a>
                <ul class="dropdown-menu">
                  <% if(session.email){%>
                  <li><a href="/info">ACCOUNT INFO</a></li>
                  <li><a href="/logout">LOGOUT</a></li>
                  <%} else {%>
                  <li><a href="/login">LOGIN</a></li>
                  <li><a href="/register">REGISTER</a><li>
                  <%}%>
                </ul>
              </li>

              <!-- USER BASKET -->
              <li class="dropdown user-acc"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="icon-basket-loaded"></i> </a>
                <ul class="dropdown-menu">
                  <% if(session.email){%>
                  <li><a href="/cart">MY CART</a></li>
                  <li><a href="/orderlist">ORDER LIST</a></li>
                  <%} else {%>
                  <li><a href="/login">MY CART</a></li>
                  <li><a href="/login">ORDER LIST</a></li>
                  <%}%>
                </ul>
              </li>

              <!-- SEARCH BAR -->
              <li class="dropdown"> <a href="javascript:void(0);" class="search-open"><i class=" icon-magnifier"></i></a>
                <div class="search-inside animated bounceInUp"> <i class="icon-close search-close"></i>
                  <div class="search-overlay"></div>
                  <div class="position-center-center">
                    <div class="search">
                      <form>
                        <input type="search" placeholder="Search Shop">
                        <button type="submit"><i class="icon-check"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>CHECKOUT</h4>
      </div>
    </div>
  </section>

  <!-- Content -->
  <div id="content">

    <!--======= PAGES INNER =========-->
    <section class="chart-page padding-top-100 padding-bottom-100">
      <div class="container">

        <!-- Payments Steps -->
        <div class="shopping-cart">

          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row">

              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7">
                <h6>구매자</h6>
                <form>
                  <ul class="row">

                    <!-- Name -->
                    <li class="col-md-6">
                      <label> *이름</label>
                    </li>
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                        <input type="text" name="last-name" value="" placeholder="">
                    </li>
                    <li class="col-md-6">
                      <label> *주소</label>
                    </li>
                    <li class="col-md-6">
                        <input type="text" name="company" value="" placeholder="">
                    </li>
                    <li class="col-md-6">
                      <label>*연락처</label>
                    </li>
                    <!-- TOWN/CITY -->
                    <li class="col-md-6">
                        <input type="text" name="s_phone" value="" placeholder="">
                    </li>
                  </ul>
                </form>

                <!-- SHIPPING info -->
                <h6 class="margin-top-50">수령인</h6>
                <form>
                  <ul class="row">

                    <!-- Name -->
                    <li class="col-md-6">
                      <label> *이름</label>
                    </li>
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                        <input type="text" name="last-name" value="" placeholder="">
                    </li>
                    <li class="col-md-6">
                      <label> *주소</label>
                    </li>
                    <li class="col-md-6">
                        <input type="text" name="company" value="" placeholder="">
                    </li>
                    <li class="col-md-6">
                      <!-- ADDRESS -->
                      <label>*연락처</label>
                    </li>
                    <!-- TOWN/CITY -->
                    <li class="col-md-6">
                        <input type="text" name="phone" value="" placeholder="">
                    </li>
                  </ul>
                </form>
              </div>

              <!-- SUB TOTAL -->
              <div class="col-sm-5">
                <h6>ORDER LIST</h6>
                <div class="order-place">
                  <div class="order-detail">
                    <% for(var i = 0; i < rows.length; i ++) { %>
                    <p><%=rows[i].p_name%> <span><%=rows[i].p_price%>won</span></p>
                    <% }%>
                    <!-- SUB TOTAL -->
                    <p class="all-total">TOTAL <span><%=total%>won</span></p>
                  </div>
                  <div class="pay-meth">
                    <ul>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio1" value="option1" checked>
                          <label for="radio1"> 카드 결제 </label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio2" value="option2">
                          <label for="radio2"> 무통장 결제</label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio3" value="option3">
                          <label for="radio3"> 계좌 이체</label>
                        </div>
                      </li>
                      <li>
                        <div class="radio">
                          <input type="radio" name="radio1" id="radio4" value="option4">
                          <label for="radio4"> 핸드폰 결제 </label>
                        </div>
                      </li>
                      <li>
                        <div class="checkbox">
                          <input id="checkbox3-4" class="styled" type="checkbox">
                          <label for="checkbox3-4"> 개인정보 제3자 제공 동의, 결제대행 서비스 이용약관 등 <span class="color"> 모든 약관 </span>에 동의합니다. </label>
                        </div>
                      </li>
                    </ul>
                    <a href="#." class="btn  btn-dark pull-right margin-top-30">주문하기</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- About -->
  <section class="small-about padding-top-150 padding-bottom-150">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>about FFORU</h4>
        <p>Flower For U </p>
        <p>저희 가게는 고객의 만족을 최우선으로 하여, 감각적이고 신선한 상품들을 제공합니다. 고객님들의 소중한 추억과 함께하겠습니다. </p>
      </div>

      <!-- Social Icons -->
      <ul class="social_icons">
        <li><a href="#."><i class="icon-social-facebook"></i></a></li>
        <li><a href="#."><i class="icon-social-twitter"></i></a></li>
        <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
        <li><a href="#."><i class="icon-social-youtube"></i></a></li>
        <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
      </ul>
    </div>
  </section>


  <!--======= FOOTER =========-->
  <footer>
    <div class="container">

      <!-- ABOUT Location -->
      <div class="col-md-3">
        <div class="about-footer"> <img class="margin-bottom-30" src="./images/logo-foot.png" alt="" >
          <p><i class="icon-pointer"></i> 서울특별시 노원구 광운로 20</p>
          <p><i class="icon-call-end"></i> 02-940-5114</p>
          <p><i class="icon-envelope"></i> http://www.kw.ac.kr/</p>
        </div>
      </div>

      <!-- HELPFUL LINKS -->
      <div class="col-md-3">
        <h6>HELPFUL LINKS</h6>
        <ul class="link">
          <li><a href="#."> Products</a></li>
          <li><a href="#."> Features</a></li>
          <li><a href="#."> Privacy Policy</a></li>
          <li><a href="#."> Press Kit </a></li>
        </ul>
      </div>

      <!-- SHOP -->
      <div class="col-md-3">
        <h6>SHOP</h6>
        <ul class="link">
          <li><a href="#."> About Us</a></li>
          <li><a href="#."> Shipping Methods</a></li>
          <li><a href="#."> Contact</a></li>
          <li><a href="#."> Support</a></li>
        </ul>
      </div>

      <!-- MY ACCOUNT -->
      <div class="col-md-3">
        <h6>MY ACCOUNT</h6>
        <ul class="link">
          <li><a href="#."> Login</a></li>
          <li><a href="#."> My Account</a></li>
          <li><a href="#."> My Cart</a></li>
          <li><a href="#."> Checkout</a></li>
        </ul>
      </div>

      <!-- Rights -->

      <div class="rights">
        <p>©  2020 FFORU All right reserved. </p>
        <div class="scroll"> <a href="#wrap" class="go-up"><i class="lnr lnr-arrow-up"></i></a> </div>
      </div>
    </div>
  </footer>

  <!--======= RIGHTS =========-->

</div>
<script src="./js/jquery-1.11.3.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/own-menu.js"></script>
<script src="./js/jquery.lighter.js"></script>
<script src="./js/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="./rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="./rs-plugin/js/jquery.tp.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
